---
- name: install python-software-properties package to ensure add-apt-repository is available
  become: yes                                                                    
  apt: pkg=python-software-properties state=latest update_cache=yes                              

- name: add swig3.0 ppa  #advised from http://wiki.znc.in/Installation#Ubuntu
  become: yes
  shell: add-apt-repository -y ppa:teward/swig3.0

- name: install packages                                                       
  become: yes                                                                    
  apt: pkg={{ item }} state=latest update_cache=yes                              
  with_items:                                                                  
    - build-essential
    - libssl-dev
    - libperl-dev
    - pkg-config
    - swig3.0
    - libicu-dev

- name: clean up apt stuff
  become: yes
  action: shell apt-get -f install && apt-get autoremove && apt-get -y autoclean && apt-get -y clean
  tags: clean
