---
- name: Check if homebrew is installed
  command: which brew
  register: homebrew_check
  ignore_errors: true

- name: Install homebrew if not installed
  shell: /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
  when: homebrew_check.rc == 1

- name : tap homebrew cask
  homebrew_tap: tap=caskroom/cask state=present

- name: install homebrew formulas
  homebrew: name={{ item }} state=present update_homebrew=yes
  with_items:
    - ag
    - ansible
    - autoenv
    - cmake
    - coreutils
    - docker
    - git
    - go
    - gpg
    - httpie
    - imagemagick
    - libyaml
    - node
    - pow
    - tmux
    - tree
    - watch
    - wget

- name: install homebrew casks
  homebrew_cask: name={{ item }} state=present
  with_items:
    - appzapper
    - dropbox
    - firefox
    - gitter
    - google-chrome
    - google-drive
    - google-cloud-sdk
    - iterm2
    - launchrocket
    - seil
    - skype
    - slack
    - spotify

- name: Check if xcode is installed
  command: ls /Applications/Xcode.app
  register: xcode_check
  ignore_errors: true

- name: Notify user to install XCode if not installed
  fail: msg="Please install XCode before trying to install MacVim via Homebrew"
  when: xcode_check.rc == 1
