---
- name: install packages                                                       
  sudo: yes                                                                    
  apt: pkg={{ item }} state=latest update_cache=yes                              
  with_items:                                                                  
    - python-software-properties                                               
    - libz-dev                                                                 
    - fontconfig                                                               
    - docker
    - nodejs
    - nodejs-legacy
    - npm

- name: install keybase
  sudo: yes
  shell: sudo npm install -g keybase-installer && sudo keybase-installer

- name: clean up apt stuff
  sudo: yes
  action: shell apt-get -f install && apt-get autoremove && apt-get -y autoclean && apt-get -y clean
  tags: clean
