---                                                                                
- name: make sure python-apt is installed
  sudo: yes
  action: shell apt-get install python-apt-common -y
    
- name: remove password prompt for sudo
  sudo: yes
  lineinfile: "dest=/etc/sudoers state=present regexp='^%admin' line='%admin ALL=(ALL) NOPASSWD: ALL'"

- name: add git-core ppa                                                       
  sudo: yes                                                                    
  apt_repository: repo='ppa:git-core/ppa' state=present                        
                                                                               
- name: add ansible ppa                                                       
  sudo: yes                                                                    
  apt_repository: repo='ppa:ansible/ansible' state=present                        

- name: install packages                                                       
  sudo: yes                                                                    
  apt: pkg={{ item }} state=latest update_cache=yes                              
  with_items:                                                                  
    - build-essential
    - software-properties-common                                               
    - tmux                                                                     
    - vim                                                                      
    - cmake                                                                    
    - curl                                                                     
    - wget                                                                     
    - git
    - ansible
    - nodejs-legacy
    - npm

- name: install keybase
  sudo: yes
  shell: sudo npm install -g keybase-installer && sudo keybase-installer
