---                                                                                
- name: remove password prompt for sudo
  sudo: yes
  lineinfile: "dest=/etc/sudoers state=present regexp='^%sudo' line='%sudo ALL=(ALL) NOPASSWD: ALL'"

- name: make sure python-apt is installed so ansible can install things
  sudo: yes
  action: shell apt-get install python-apt-common -y

- name: install packages                                                       
  sudo: yes                                                                    
  apt: pkg={{ item }} state=latest update_cache=yes                              
  with_items:                                                                  
    - build-essential
    - software-properties-common                                               
    - tmux                                                                     
    - vim                                                                      
    - cmake                                                                    
    - curl                                                                     
    - wget                                                                     
    - git
