---
#- name: install packages
#  sudo: yes
#  apt: pkg={{ item }} state=latest update_cache=yes
#  with_items:
#    - nodejs
#    - nodejs-legacy
#    - npm
#  tags: vimvpm

- name: install react.js npm modules
  npm: name={{ item }} global=yes
  with_items:
    - eslint
    - babel-eslint
    - eslint-plugin-react
  tags: vimnpm

- name: setup vim colors
  copy: src='colors/' dest=~/.vim/colors/ owner={{ ansible_ssh_user }}
        force=yes

- name: get Vundle repository                                                  
  git: repo=https://github.com/gmarik/Vundle.vim.git                           
       dest=~/.vim/bundle/Vundle.vim                                           
                                                                               
- name: run Vundle                                                             
  action: shell vim +PluginInstall! +qall
                                                                               
- name: delete .vim colors folder
  file: path=~/.vim/colors/ state=absent
  tags: vimcolors

# this is much faster than a copy
- name: setup .weechat directory
  synchronize: src=~/.vim/bundle/vim-colorschemes/colors dest=~/.vim/

# this can take a bit
# ignoring errors in case it runs out of memory to complete (happens on AWS tiny instances)
# aka "virtual memory exhausted: Cannot allocate memory"
# maybe check if there is a swap and only install if there is one >= 1GB
- name: finish YouCompleteMe compilation
  sudo: yes
  shell: ./install.sh --clang-completer
  args:
    chdir: ~/.vim/bundle/YouCompleteMe
  ignore_errors: yes
